@model LocationModel

<div class="container border border-dark rounded-3">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.Country)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.Country)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.City)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.City)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.PostCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.PostCode)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.Street)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.Street)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.StreetNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.StreetNumber)
        </dd>
    </dl>
</div>
