@model DeliveryModel



<div>
    <p>Name: @Model.Name</p>
    <ul>
        <li>
            <div>
                <p>Start location:</p>
                <ul>
                    <li>Country:       @Model.StartLocation.Country</li>
                    <li>City:          @Model.StartLocation.City</li>
                    <li>Post code:     @Model.StartLocation.PostCode</li>
                    <li>Street:        @Model.StartLocation.Street</li>
                    <li>Street number: @Model.StartLocation.StreetNumber</li>
                </ul>
            </div>
        </li>
        <li>
            <div>
                <p>Destination:</p>
                <ul>
                    <li>Country:       @Model.EndLocation.Country</li>
                    <li>City:          @Model.EndLocation.City</li>
                    <li>Post code:     @Model.EndLocation.PostCode</li>
                    <li>Street:        @Model.EndLocation.Street</li>
                    <li>Street number: @Model.EndLocation.StreetNumber</li>
                </ul>
            </div>
        </li>
        <li>Status: @Model.Status</li>
    </ul>
</div>